header {
    display: flex;
    align-items: center;
    position: fixed;
    width: 100%;
    height: 80px;
    z-index: 1;
    font-family: Verdana;
    font-size: 14px;
    font-weight: bold;
    border-bottom: 1px solid black;

}

.container {
    display: flex;
    width: 1232px;
    margin: 0 auto 78px auto;
    padding-top: 116px;
  }



nav span {
    padding: 20px 10px;
    display: inline-block;
}

header nav {
    padding-right: 40px;
}


.logo {
    display: flex;
    align-items: center;
    padding-left:30px;
    flex-grow: 1;
}

.logo img {
    display: flex;
    align-items: center;
    margin-right: 12px;
}

.logo span {
    color: MediumAquamarine;
}

nav {
    display: flex;
}

a {
    color: black;
}

h3 {
  font-size: 16px;
  font-weight: bold;
}

.column {
  display: flex;
  flex-direction: column;
  margin-right: 32px;
}

.first.column {
    width: 630px;
}

.second.column {
    width: 300px;
}

.third.column {
    width: 240px;
    flex-direction: column;
    text-align: center;
}

.third.column .bite {
  display: block;
  padding: 11px 20px;
  background-color: WhiteSmoke;
  font-family: Verdana;
  font-size: 12px;
  color: DimGray;
  margin: 0;
  border-bottom: 1px solid black;
}


.first-story {
  display: block;
}

.More-stories {
    display: flex;
    justify-content: space-between;
    margin-top: 17px;
}


.first-story.image-content {
    display: flex;
    background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-main.png");
    font-size: 40px;
}

.Earth.image-content {
    display: flex;
    background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-2.png");
}

.Cameras.image-content {
    display: flex;
    background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-3.png");
}

.Cats.image-content {
    display: flex;
    background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-1.png");
}

.cookie {

  }

.image-content {
    font-family: Georgia;
    font-weight: bold;
    font-size: 30px;
    color: white;
    height: 300px;

}

.story-narrative {
    font-family: Georgia;
    font-size: 17px;
    color: black;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%
    height: 325px;
    background-color: MediumAquamarine;
    margin: auto;
    font-family: Verdana;
    font-size: 12px;


}

.mytimes {
    font-family: Georgia;
    font-size: 16px;
    font-weight: bold;
    color: white;
}
